ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  font-style: normal;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.circle {
  border-radius: 50%;
}
