.contacts-section {
  background-image: linear-gradient(
        to top,
        #fff5f6 80%,
        #fff  20%);
  padding-bottom: 54px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 81px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 86px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/contacts/bg-contacts-section.png), linear-gradient(
      to top,
      #fff5f6 80%,
      #fff  20%);;
  }
}


.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -20px;
  margin-bottom: -20px;
}

.contacts-item {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: ($hero-text);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: $tablet) {
    margin-left: 20px;
    flex-basis: calc(100% / 3 - 20px);
  }

  @media screen and (min-width: $desktop) {
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

.contacts-item__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 44px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    padding: 50px 32px;
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: $desktop) {
    padding: 54px 44px;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts-specification {
  padding-bottom: 25px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 32px;
  }
}

.contacts-specification__type {
  margin-bottom: 25px;
  width: 45%;
  text-align: center;
  color: ($hero-text);
  background: #f0d1a5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
}

.contacts-specification__type--green {
  width: 70%;
  text-align: center;
  background: #c2e297;
}

.contacts-specification__title {
  margin-bottom: 10px;
  color: ($primary-text-color);
}

.contacts-specification__description {
  color: ($secondary-text-color);
}

.schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.schedule__item:not(:last-child) {
  margin-bottom: 10px;
}

.schedule__days {
  color: ($primary-text-color);
}

.schedule__wh {
  color: ($rosy-text-color);
}

.contact-us {
  padding-top: 25px;

  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
  }
}

.contact-us__link {
  color: ($secondary-text-color);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: ($accent-color);
  }
}
