// .container {
//   @media screen and (max-width: 767px) {
//     width: 100%;
//   }
//   @media screen and (min-width: $tablet) {
//     width: 100%;
//   }
//   @media screen and (min-width: $desktop) {
//     width: 100%;
//   }
// }

.customers {
  // max-width: 1280px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 86px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    width: auto;
    padding-top: 121px;
    padding-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    // width: auto;
    padding-top: 123px;
    padding-bottom: 0;
  }
}

.slider {
  height: 550px;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: $tablet) {
    width: 100%;
    max-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1280px;

    width: 100%;
  }
}

.navigation {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  display: flex;
  @media screen and (min-width: $tablet) {
    left: 49%;
    top: 70%;
  }

  @media screen and (min-width: $desktop) {
    left: 49%;
    top: 63%;
  }
}
// .point {
//   display: inline;
//   margin-right: 10px;
//   background-color: #c7133e;
//   height: 4px;
//   width: 4px;

//   opacity: 0.5;
//   border-radius: 10px;
//   text-align: center;
//   margin-bottom: 30px;
// }
// .title {
//   display: flex;
//   text-align: center;
//   align-items: center;
//   margin: auto;
//   justify-content: center;
// }

.bar {
  height: 8px;
  width: 8px;
  margin: 6px;
  cursor: pointer;
  background-color: #d9d9d9;
  opacity: 1;
  border-radius: 10px;
  // transition: all 0.4s ease;
  position: relative;
}

.bar svg {
  display: none;
  height: 10px;
  width: 10px;
  opacity: 10;
}

// .bar {
//   // opacity: 0;
//   // display: none;
//   // transform: scale(1.1);
//   // background: #d9d9d9;
//   // z-index: 3;
// }

// .bar.current {
//   display: block;
// }
// .bar svg {
//   display: block;
// }
// .bar .current svg {
//   display: block;
// }

input[name='r'] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 700%;
  height: 100%;
  display: flex;
  position: relative;
}
.slide {
  width: 14.285%;
  transition: all 0.6s ease;
  // position: relative;
}
.slide img {
  width: 85px;
  height: 85px;
  margin: auto;
  display: block;
  border-radius: 50%;
}

#r1:checked ~ .slides .s1 {
  margin-left: 0;
}

#r2:checked ~ .slides .s1 {
  margin-left: -14.285%;
}

#r3:checked ~ .slides .s1 {
  margin-left: -28.57%;
}

#r4:checked ~ .slides .s1 {
  margin-left: -42.855%;
}
#r5:checked ~ .slides .s1 {
  margin-left: -57.14%;
}
#r6:checked ~ .slides .s1 {
  margin-left: -71.425%;
}
#r7:checked ~ .slides .s1 {
  margin-left: -85.71%;
}

#r1:checked ~ .navigation [for='r1'] svg {
  display: block;
  transform: scale(1.1);
}
#r2:checked ~ .navigation [for='r2'] svg {
  display: block;
  transform: scale(1.1);
}
#r3:checked ~ .navigation [for='r3'] svg {
  display: block;
  transform: scale(1.1);
}
#r4:checked ~ .navigation [for='r4'] svg {
  display: block;
  transform: scale(1.1);
}
#r5:checked ~ .navigation [for='r5'] svg {
  display: block;
  transform: scale(1.1);
}
#r6:checked ~ .navigation [for='r6'] svg {
  display: block;
  transform: scale(1.1);
}
#r7:checked ~ .navigation [for='r7'] svg {
  display: block;
  transform: scale(1.1);
}

.text {
  font-family: DM Sans;
  font-style: medium;
  font-size: 15px;
  line-height: 30px;
  text-align: center;

  z-index: 10;
}
.gradient {
  // max-width: 1280px;

  height: auto;
  background: repeating-linear-gradient(#fafafa 0, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);
  padding: 10px;

  margin: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 45%;
    top: 140%;
    transform: translate(-50%, -100%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 4px;
    width: 21px;
    margin: 10px;
    border-bottom: 4px dotted #c7133e;
    @media screen and (min-width: $tablet) {
      left: auto;
      top: 180%;
    }
    @media screen and (min-width: $desktop) {
      left: auto;
      top: 220%;
    }
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 50%;
  //   top: 147%;
  //   transform: translate(-50%, -120%);

  //   display: block;
  //   // width: 30px;
  //   height: 4px;
  //   margin: 6px;
  //   border-bottom: 4px dotted #c7133e;
  // }
}
.card {
  padding: 20px;
  // max-width: 1280px;
  // width: 100%;
  background-color: #fafafa;

  margin: 30px, auto;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  position: relative;
  @media screen and (max-width: 767px) {
    // width: 100%;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    // max-width: 1280px;
    // width: 100%;
  }

  &::after {
    content: '';
    font-size: 100px;
    position: absolute;
    left: 60px;
    top: 40px;
    display: block;
    width: 54px;
    height: 40px;
    // background-color: #c7133e;
    background-image: url(../images/customer_reviews/simbol.png);
    opacity: 0.5;
  }
}

.guest {
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  display: flex;
  @media screen and(min-width: $tablet) {
    margin-top: 60px;
  }
  @media screen and(min-width: $desktop) {
    margin-top: 60px;
  }
}
.slid-control {
  // background: rgba(0, 0, 0, 0.28);
  // border-radius: 50%;
  color: #393939;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 50%;
  line-height: 35px;
  position: absolute;
  top: 50%;
  // -webkit-transform: translate(0, -50%);
  cursor: pointer;
  // -ms-transform: translate(0, -50%);
  transform: translate(0, -70%);
  text-align: center;
  width: 40px;
  z-index: 10;

  @media screen and (min-width: $tablet) {
    top: 43%;
    height: 25%;
  }
  @media screen and(min-width: $desktop) {
    top: 33%;
    height: 25%;
  }
}
.slid-control.prev {
  left: 2%;
  background-image: url(../images/customer_reviews/vector-left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;

  @media screen and(min-width: $tablet) {
    left: 2%;
    background-size: 10px;
  }
  @media screen and(min-width: $desktop) {
    left: 2%;
    background-size: 15px;
  }
}
.slid-control.next {
  right: 2%;
  background-image: url(../images/customer_reviews/vector-right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  @media screen and(min-width: $tablet) {
    right: 2%;
  }
  @media screen and(min-width: $desktop) {
    right: 2%;
    background-size: 15px;
  }
}
#r1:checked ~ .control-2,
// #r1:checked ~ .control-3,
#r2:checked ~ .control-3,
// #r2:checked ~ .control-1,
// #r3:checked ~ .prev.control-2,
#r3:checked ~ .control-4,
#r4:checked ~ .control-5,
#r5:checked ~ .control-6,
#r6:checked ~ .control-7,
#r7:checked ~ .control-1 {
  display: block;
}
