.footer {
  background-color: $bgc-section;
}
.footer__top {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}
.footer__bottom {
  padding: 25px;
  border-top: 1px solid #e1e1e1;
}
.footer__heading-wrapper {
  margin-bottom: 45px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 90px;
  }
  @media screen and (min-width: $tablet) {
  }
}
.footer__heading-one {
  font-family: Titan One;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  color: $rosy-text-color;
  text-transform: uppercase;

  &--mobile {
    display: none;
    @media screen and (max-width: 1279px) {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    margin-top: 7px;
    font-size: 26px;
  }
}
.footer__heading-two {
  display: inline-flex;
  margin-top: 15px;

  font-size: 34px;
  line-height: 1.15;
  color: $accent-color;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}
.footer-contacts {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    margin-bottom: 45px;
  }
  @media screen and (min-width: $tablet) {
    justify-content: flex-start;
  }
}
.socials {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 45px;
}
.socials__piece {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.socials__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fea5bb;

  &:hover::after,
  &:focus::after {
    transform: translateY(0);
    animation: flow-in 900ms ease-out 2 both;
  }
  @media screen and (min-width: $tablet) {
    width: 34px;
    height: 34px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 130%;
    height: 140%;

    background: $accent-color;
    background: url(../images/icons/wave.svg);
    background-size: 150px 80px;
    border-radius: 30%;

    transform: translateY(-102%);
    transition: transform 0.9s ease-in-out;
    animation: flow-out 900ms ease-in 2 both;
    @keyframes flow-in {
      0% {
        background-position-x: 0px;
      }
      100% {
        background-position-x: 90px;
      }
    }
    @keyframes flow-out {
      0% {
        background-position-x: 90px;
      }
      100% {
        background-position-x: 00px;
      }
    }
  }
}
.socials__icon {
  z-index: 1;
}
.footer__contact-text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: normal;

  text-align: right;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
.footer__contact-tel {
  color: $accent-color;
}
.footer__copyright {
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  width: 150px;

  color: #907e82;
  @media screen and (min-width: $tablet) {
    width: 100%;
    line-height: 1.85;
  }
}
