
.gallery {
  padding-top: 15px;
  background-image: linear-gradient(
        to top,
        #fff 55%,
        #fff5f6 45%);
}

.gallery__list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: -3px;
    margin-left: -3px;

    @media screen and (min-width: 479px) {
        margin-bottom: -5px;
        margin-left: -5px;
        }
    
    @media screen and (min-width: 1280px) {
        margin-bottom: -7px;
        margin-left: -7px;
        }
}
  
.gallery__card img { 
  display: block;
  position: absolute;
  z-index: 3;
   @media screen and (max-width: 479px) {
        border-radius: 5px;
    }
  
    @media screen and (min-width: 480px) {
        border-radius: 10px;
        
    }
  
    @media screen and (min-width: 768px) {
       border-radius: 15px;
    }
 
    @media screen and (min-width: 1280px) {
       border-radius: 20px;
    }
  &:hover{
    transition: all 0.8s ease 0s;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }  
}
.gallery__card-logo {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 5px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  text-align: center;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  @media screen and (min-width: 480px) {
    font-size: 9px;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 22px;
  }
}
  
.gallery__card {
    position: relative;

    display: block;
    background-color: #FFB8CA;
    
    border-radius: 5px;
    width: 31px;
    height: 31px;
    margin-bottom: 3px;
    &:not(:last-child){
      margin-left: 3px;
    }
    
    transform: scale(1, 1);
  
    @media screen and (min-width: 480px) {
      
    border-radius: 10px;
    width: 62px;
    height: 62px;
    margin-bottom: 4px;
    margin-left: 4px;
    }
  
    @media screen and (min-width: 768px) {
    
    border-radius: 15px;
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
    margin-left: 5px;
    }
  
    @media screen and (min-width: 1280px) {
    
    border-radius: 20px;
    width: 136px;
    height: 136px;
    margin-bottom: 7px;
    margin-left: 7px;
    }
}
  
.up {
  margin-bottom: 15px;
  @media screen and (min-width: 480px) {
  margin-bottom: 30px;
  }
  
  @media screen and (min-width: 768px) {
  margin-bottom: 30px;
  }
  
  @media screen and (min-width: 1280px) {
  margin-bottom: 50px;
  }
}
  
.gallery__card_x2 { 

    width: 80px;
    height: 80px;
  
  @media screen and (min-width: 480px) {
  
    width: 110px;
    height: 110px;
    }
 
  @media screen and (min-width: 768px) {
    
    width: 175px;
    height: 175px;
    }
  
  @media screen and (min-width: 1280px) {
    
    width: 285px;
    height: 285px;
    }
}

.gallery__card_x2 p {
  font-size: 10px;
  @media screen and (min-width: 480px) {
    font-size: 15px;
  }
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 40px;
  }
}
  
  
