.hero {
  background-color: $hero-bgr;
}
.container.hero {
  position: relative;
  height: 502px;
  background-color: $hero-bgr;
  border-bottom: 1px solid #e17992;
  overflow: hidden;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
}
.hero-text-thumb {
  position: absolute;
  margin-top: 193px;
  padding: 0;
  z-index: 2;
}
.hero-text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: (30 / 26 * 100%);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $hero-text;
}
.hero-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: $accent-color;
}
.hero-btn-item {
  display: inline-block;
  text-align: center;
  width: 62.4px;
  height: 24px;
  color: $hero-text;
  border-radius: 20px;
  margin-right: 8px;
  background-color: $accent-color;
  padding-top: auto;
  &:last-child {
    margin-right: 0px;
    width: 82.8px;
    height: 24px;
    color: $accent-color;
    background-color: $hero-text;
    .hero-btn-link {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}
.hero-btn-list {
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.hero-btn-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  color: $hero-text;
}
.hero-image {
  z-index: 1;
}
.hero-img {
  display: block;
  max-width: 171px;
  height: 100%;
  // margin-top: 9px;
  margin-left: 77px;
  fill: transparent;
  z-index: 1;
}
.hero-circle {
  position: absolute;
  display: block;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: $rosy-text-color;
  margin-top: 83px;
  margin-left: 16px;
}
.hero-img-composition {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 0;
  margin-left: 16px;
}
