.modal-maps{
overflow: auto;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 9;
min-width: 320px;
height: 100%;
background: rgba(0, 0, 0, 0.2);
// transition-property: background, border;
// transition-duration: 250ms;
// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition: opacity 700ms ease-in-out, visibility 700ms ease-in-out;

&.maps-is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
pointer-events: none;
}
@media screen and (max-width: 768px){

}
@media screen and (min-width: 768px) {
top: 0;
 left: 25%;
width: 768px;
}
@media screen and (min-width: 1280px) {
 left: 0;
width: 100%;
 }
}


.modal-maps {
  display: block;
  top: 50px;
  height: 100%;
  background-color: $bgc-section;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 15px;
  z-index: 90;
  background-repeat: no-repeat;
  background-color: $bgc-section;
  background-image: url(../images/modal/bg-modal.png);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 450ms ease-in-out;

  @media screen and (max-width: 479px) {
    width: 80%;
    height: auto;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 60%;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
    height: auto;
    padding: 40px;
  }

}


.maps-button-close,
.franciza-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: var(--secondary-title-color);
  background: $hero-text;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: color, border;
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;

  }
  &:hover .maps-modal-icon,
  &:hover .franciza-modal-icon {
    fill: $rosy-text-color;
  }
}
.maps-modal-icon,
.franciza-modal-icon {
  fill: $accent-color;

}

.maps-modal-picture,
.franciza-modal-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

.modal-map-text{
  font-size: 20px;
  line-height: 2;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
  color: #f36f90;
}
.modal-map-text2{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color: #db2955;
}

.checkbox-logo{
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  color: #740924;
}
.modal-map{
  padding: 50px 20px 50px 20px;
}
.checkbox-blok{
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap; 
}

.checkbox-map1{
  display: grid;
  margin-right: 20px;
  margin-bottom: 20px;
}

.checkbox-map-text{
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 5px;
  text-align: center;
  color: #be3a5b;
}
.checkbox-logo{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-franciza{
overflow: auto;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 9;
min-width: 320px;
height: 100%;
background: rgba(0, 0, 0, 0.2);
transition-property: background, border;
transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
&.franciza-is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
pointer-events: none;
}
@media screen and (max-width: 768px){

}
@media screen and (min-width: 768px) {
top: 0;
 left: 25%;
width: 768px;
}
@media screen and (min-width: 1280px) {
 left: 0;
width: 100%;
 }
}



.modal__title--title {
  text-align: center;
  margin-bottom: 10px;
  color: $accent-color;
  font-size: 17px;
}
.modal__title {
  margin-bottom: 12px;
  margin-top: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.modal__list {
  margin-bottom: 10px;
}
.modal__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal__label {
  font: DM Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16px;
  margin-bottom: 4px;
  height: 12px;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}
.modal__svg {
  fill: $accent-color;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  /* left: 15px; */
  /* z-index: 1; */
}
.modal__form {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /* padding: 0 40px 40px 40px; */
}
.modal__input {
  display: flex;
  flex-direction: column;
  /* outline: 2px solid #2F303A; */
  height: 30px;
  padding-left: 42px;
  padding-right: 20px;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: #fafafa;
  line-height: 1.16;
  /* identical to box height */
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-flex-group: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.01em;
  width: 100%;
  color: var(--secondary-title-color);
  transition-property: fill, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--hover-effect-color);
  }
  &:focus + .modal__svg {
    fill: var(--hover-effect-color);
  }
}
.modal__check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
  font-family: DM Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.16;
  /* identical to box height, or 171% */
  color: var(--secondary-title-color);
  letter-spacing: 0.03em;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1280px) {
    font-size: 11px;
    line-height: 2;
  }
  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 1px solid var(--primary-title-color);
    border-radius: 3px;
    margin-right: 7px;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  &:checked + .modal__check span {
    background-color: var(--hover-effect-color);
    border-color: var(--hover-effect-color);
  }
}
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 4px;
  height: 100px;
  resize: none;
  background-color: #fafafa;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--hover-effect-color);
  }
}
.coment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__textarea {
  outline: none;
  width: 100%;
  &::placeholder {
    padding: 12px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal__send {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--adress-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: #d41342;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  border-radius: 22px;
  &:hover,
  &:focus {
    color: #d41342;
    background: #ffffff;
  }
}
