.products{
    padding-top: 120px;
    padding-bottom: 100px;
    color: #E5E5E5;

    @media screen and (min-width: $tablet){        
        padding-bottom: 110px;
    }

    @media screen and (min-width: $desktop){        
        padding-top: 125px;
        padding-bottom: 120px;
    }
}

.products__pre-title{
    font-family: Titan One;
    font-size: 18px;    
    font-weight: 400;
    line-height: calc(21/18);
    letter-spacing: 0em;  

    color: ($rosy-text-color);

    text-transform: uppercase;
    text-align: center;

    margin-bottom: 15px;

    @media screen and (min-width: $tablet){        
        font-size: 26px;  
        line-height: calc(30/26);
    }

    @media screen and (min-width: $desktop){        
        font-size: 30px;  
        line-height: calc(34/30);
        letter-spacing: 0.04em;
    }
}

.products__title{
    font-family: Titan One;
    font-size: 34px;    
    font-weight: 400;
    line-height: calc(39/34);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    color: #D41443;

    margin-bottom: 145px;

    @media screen and (min-width: $tablet){        
        font-size: 48px;  
        line-height: calc(55/48);
        margin-bottom: 150px;
    }

    @media screen and (min-width: $desktop){        
        font-size: 58px;  
        line-height: calc(66/58);
        letter-spacing: 0.06em;
        margin-bottom: 260px;
    }
}

.products-list{
    @media screen and (min-width: $tablet) {
        display: flex;
    }

    @media screen and (min-width: $tablet) {
        margin: -10px;
    }

    @media screen and (min-width: $desktop) {
        margin: -15px;
    }
}

.products-list__item{
    position: relative;
    text-align: center;

    // width: 280px;
    height: 485px;
    border-radius: 24px;
    
    padding: 40px;
    padding-top: 160px;
    
    // margin-right: auto;
    // margin-left: auto;
    
    @media screen and (max-width: 767px) {
        margin-bottom: 130px;
    }

    @media screen and (min-width: $tablet) {   
        padding: 11px;
        padding-top: 150px;

        margin: 10px;

        flex-basis: calc(100% / 3 - 20px);
        max-width: 330px;
    }

    @media screen and (min-width: $desktop) {   
        padding: 44px;
        padding-top: 160px;

        margin: 15px;
        height: 525px;
        
        flex-basis: calc(100% / 3 - 30px);
    }

    &::before{
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, -110%);

        display: block;       
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        width: 249px;        
        height: 252px;

        @media screen and (min-width: $tablet) {   
            width: 220px;        
            height: 225px;
            transform: translate(-50%, -113%);
        }

        @media screen and (min-width: $desktop) {   
            width: 335px;        
            height: 335px;
            transform: translate(-50%, -110%);
        }
    }
}

.products-list__item--icecream{
    background-color: #FFB8CA;
    &::before{
        @media screen and (max-width: 767px) {
            background-image: url(../images/products/products-1m.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-1m@2.png);
            }
        }

        @media screen and (min-width: $tablet) {
            background-image: url(../images/products/products-1t.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-1t@2.png);
            }
        }

        @media screen and (min-width: $desktop) {
            background-image: url(../images/products/products-1d.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-1d@2.png);
            }
        }
    }
}

.products-list__item--icecoffee{
    background-color: #F0D1A5;
    &::before{
        @media screen and (max-width: 767px) {
            background-image: url(../images/products/products-2m.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-2m@2.png);
            }
        }

        @media screen and (min-width: $tablet) {
            background-image: url(../images/products/products-2t.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-2t@2.png);
            }
        }

        @media screen and (min-width: $desktop) {
            background-image: url(../images/products/products-2d.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-2d@2.png);
            }
        }
    }
}

.products-list__item--milkshakes{
    background-color: #C2E297;    

    @media screen and (max-width: 767px) {
        margin-bottom: 0;
    }

    &::before{
        @media screen and (max-width: 767px) {
            background-image: url(../images/products/products-3m.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-3m@2.png);
            }
        }

        @media screen and (min-width: $tablet) {
            background-image: url(../images/products/products-3t.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-3t@2.png);
            }
        }

        @media screen and (min-width: $desktop) {
            background-image: url(../images/products/products-3d.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/products-3d@2.png);
            }
        }
    }
}

.products-list__title{     
    font-family: Titan One;
    text-transform: uppercase;
    color: #FFFFFF;
    
    font-size: 20px;   
    font-weight: 400;
    line-height: 0.86;
    letter-spacing: 0.04em;   

    margin-bottom: 66px;     

    @media screen and (min-width: $desktop){        
        font-size: 30px;  
        line-height: calc(34/30);        
        margin-bottom: 70px;
    }
    

    &::after{
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        margin-top: 30px;
        
        display: block;
        width: 26px;
        height: 6px;

        border-bottom: 6px dotted #FFFFFF;

        @media screen and (min-width: $desktop){        
        margin-top: 32px;
        }      
    }
}

.products-list__text{
    font-family: DM Sans;
    font-size: 14px;    
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
    height: 124px;  
    // overflow: hidden;    

    @media screen and (min-width: $tablet){       
        line-height: calc(24/14);

        margin-bottom: 40px;
    }

    @media screen and (min-width: $desktop){        
        font-size: 16px;  
        line-height: calc(28/16);   
        // height: 106px;
             
        margin-bottom: 60px;
    }
}

.products-list__overlay{   
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    // pointer-events: none;

    width: 100%;
    transform: translateY(80%);

    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 0px 40px;

    @media screen and (max-width: 767px) {
        padding: 0 30px;
    }

    @media screen and (min-width: $tablet) {   
        transform: translateY(65%);
        padding: 0 11px;  
    }

    @media screen and (min-width: $desktop) {   
        transform: translateY(70%);
        height: 300px;
        padding: 0px 40px;
    }

    .products-list__item:hover &,
    .products-list__item:focus & {
        transform: translateY(63%);
        opacity: 1;

        @media screen and (min-width: $tablet) {
        transform: translateY(55%);
        }

        @media screen and (min-width: $desktop) {
        transform: translateY(50%);
        }
    }

    &--icecream{
    background-color: #FFB8CA;   
    }

    &--icecoffee{
    background-color: #F0D1A5;    
    }

    &--milkshakes{
    background-color: #C2E297;    
    }   
}



.products-list__btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    // margin: 0 auto;

    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    z-index: 1;

    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

    .products-list__item:hover &,
    .products-list__item:focus & {
        background-color: #C7133E;      
        
    }    
}

.products-list__icon{
    fill: #D41443; 
    transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1), transform 350ms cubic-bezier(0.4, 0, 0.2, 1);

    .products-list__item:hover &,
    .products-list__item:focus & {
        fill: #FFFFFF;        
        transform: rotate(-90deg);        
        
    }
}

.products-list__link{
    @extend .products-list__btn;
}