.products{
    padding-top: 120px;
    padding-bottom: 100px;

    color: #E5E5E5;
}

.products__pre-title{
    font-family: Titan One;
    font-size: 18px;    
    font-weight: 400;
    line-height: calc(21/18) ;
    letter-spacing: 0em;  

    color: #FFA5BA;

    text-transform: uppercase;
    text-align: center;

    margin-bottom: 15px;
}

.products__title{
    font-family: Titan One;
    font-size: 34px;    
    font-weight: 400;
    line-height: calc(39/34);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    color: #D41443;

    margin-bottom: 145px;
}

.products-list{

}

.products-list__item{
    position: relative;
    text-align: center;

    width: 280px;
    height: 485px;
    border-radius: 24px;
    
    padding: 40px;
    padding-top: 160px;
    
    margin-bottom: 130px;

    margin-right: auto;
    margin-left: auto;

    &::before{
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, -110%);

        display: block;       
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        width: 249px;        
        height: 252px;
    }
    
}

.products-list__item--icecream{
    background-color: #FFB8CA;
    &::before{
        @media screen and (max-width: 767px) {
            background-image: url(../images/products/Products-1m.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-1m@2.png);
            }
        }

        @media screen and (min-width: $tablet) {
            background-image: url(../images/products/Products-1t.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-1t@2.png);
            }
        }

        @media screen and (min-width: $desktop) {
            background-image: url(../images/products/Products-1d.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-1d@2.png);
            }
        }
    }
}

.products-list__item--icecoffee{
    background-color: #F0D1A5;
    &::before{
        @media screen and (max-width: 767px) {
            background-image: url(../images/products/Products-2m.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-2m@2.png);
            }
        }

        @media screen and (min-width: $tablet) {
            background-image: url(../images/products/Products-2t.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-2t@2.png);
            }
        }

        @media screen and (min-width: $desktop) {
            background-image: url(../images/products/Products-2d.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-2d@2.png);
            }
        }
        
    }
}

.products-list__item--milkshakes{
    background-color: #C2E297;
    margin-bottom: 0;
    &::before{
        @media screen and (max-width: 767px) {
            background-image: url(../images/products/Products-3m.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-3m@2.png);
            }
        }

        @media screen and (min-width: $tablet) {
            background-image: url(../images/products/Products-3t.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-3t@2.png);
            }
        }

        @media screen and (min-width: $desktop) {
            background-image: url(../images/products/Products-3d.png);
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
                background-image: url(../images/products/Products-3d@2.png);
            }
        }
    }
}

.products-list__img{
    // position: absolute;
    // z-index: 5;
}

.products-list__title{     
    font-family: Titan One;
    text-transform: uppercase;
    // position: relative;
    // text-align: center;
    color: #FFFFFF;

    
    font-size: 20px;   
    font-weight: 400;
    line-height: 0.86;
    letter-spacing: 0.04em;   

     margin-bottom: 66px;     

    &::after{
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        margin-top: 30px;
        
        display: block;
        width: 26px;
        height: 6px;

        border-bottom: 6px dotted #FFFFFF;
    }
}

.products-list__text{
    font-family: DM Sans;
    font-size: 14px;    
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 30px;
    // text-align: center;  
    position: relative;
}

.products-list__btn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 40px;
    height: 40px;
    background: #FFFFFF;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

.products-list__icon{
    fill: #D41443; 
    
    .products-list__btn:hover &{
        fill: #C7133E;
    }
}