.section-mobile {
  background: $bgc-section;
  padding-bottom: 113px;

  @media screen and(min-width: $tablet) {
    padding-bottom: 158px;
  }

  @media screen and(min-width: $tablet) {
    padding-bottom: 165px;
  }
}

.windows-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and(min-width: $tablet) {
    flex-direction: row;
  }
}

.windows-mobile-button {
  width: 161.45px;
  height: 44px;
  background: $accent-color;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $hero-text;
  margin-bottom: 10px;
  border: none;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgb(192, 177, 177);
    color: rgb(238, 75, 75);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 15px;
    width: 191.5px;
  }
  @media screen and (max-width: $desktop) {
    width: 198px;
  }
}

.windows-mobile-svg {
  width: 10px;
  height: 15px;
  border: 2px solid transparent;
  fill: $hero-text;
  background-color: transparent;
  margin-left: 8px;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  .windows-mobile-button:hover & {
    fill: rgb(238, 75, 75);
  }
}

.windows-mobile-button-2 {
  color: $hero-text;
  background: $accent-color;
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgb(192, 177, 177);
    color: rgb(238, 75, 75);
  }

  @media screen and (max-width: $tablet) {
    width: 174.05px;
  }

  @media screen and (max-width: $desktop) {
    width: 180px;
  }
}

.windows-mobile-svg-2 {
  width: 10px;
  height: 15px;
  border: 2px solid transparent;
  fill: $accent-color;
  background: transparent;
  margin-left: 13px;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  .windows-mobile-button-2:hover & {
    fill: rgb(238, 75, 75);
  }
}


















