.windows-mobile{
    display: flex;
    background: #FFF5F6;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 113px;
        @media screen and (min-width: $mobile){
            flex-direction: row;
        align-items: normal;}
    }
.windows-mobile__button{
    width: 161.45px;
    height: 44px;
    background: #D41342;
    border-radius: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
   flex-direction:row;
   align-items: center;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   padding-left: 17px;
   
    

    color: #FFFFFF;
    margin-bottom: 10px;
    
    border: transparent;
    
    @media screen and (min-width: $tablet){
        margin-right: 15px; 
    }
        @media screen and (max-width: $tablet){
        width: 191px;
        }
        @media screen and (max-width: $desktop){
            width: 191px;
            }
}
.windows-mobile__button--white{

    color: #D41443;
    background: #FFFFFF;
    width: 161.45px;
    height: 44px;
    border-radius: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    flex-direction:row;
    align-items: center;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   padding-left: 32px;
   border: transparent;
   
        @media screen and (max-width: $tablet){
                width: 174.05px;}
        
        @media screen and (max-width: $desktop){
                width: 180px;}
        @media screen and (min-width: $tablet){margin-left: 0;}
        @media screen and (min-width: $desktop){margin-left: 0;}
}

.windows-mobile__svg{
    width: 10px;
    height: 15px;
    border: 2px solid transparent;
    fill: #FFFFFF;
    background-color:transparent ;
    margin-left: 8px;
}
.windows-mobile__svg--white{
    width: 10px;
    height: 15px;
    border: 2px solid transparent;
    fill:#D41443;
    background:transparent ;
    margin-left: 13px;
}




