@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page {
  font-family: 'DM Sans', sans-serif;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  font-style: normal;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.hero {
  background-color: #ffb8ca;
}

.container.hero {
  position: relative;
  height: 502px;
  background-color: #ffb8ca;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container.hero {
    height: 399px;
  }
}

@media screen and (min-width: 1280px) {
  .container.hero {
    height: 665px;
  }
}

.hero-text-thumb {
  position: absolute;
  margin-top: 193px;
  padding: 0;
  z-index: 2;
}

.hero-text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 115.38462%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: #d41443;
}

.hero-btn-item {
  display: inline-block;
  text-align: center;
  width: 62.4px;
  height: 24px;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 8px;
  background-color: #d41443;
  padding-top: auto;
}

.hero-btn-item:last-child {
  margin-right: 0px;
  width: 82.8px;
  height: 24px;
  color: #d41443;
  background-color: #ffffff;
}

.hero-btn-item:last-child .hero-btn-link {
  color: #d41443;
}

.hero-btn-item:last-child:hover, .hero-btn-item:last-child:focus {
  background-color: #ecebeb;
}

.hero-btn-item:hover, .hero-btn-item:focus {
  background-color: #c7133e;
}

.hero-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
}

.hero-btn-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero-image {
  z-index: 1;
}

.hero-img {
  display: block;
  max-width: 171px;
  height: 100%;
  margin-left: 77px;
  fill: transparent;
  z-index: 1;
}

.hero-circle {
  position: absolute;
  display: block;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
  margin-top: 83px;
  margin-left: 16px;
}

@media screen and (min-width: 480px) {
  .hero-circle {
    margin-top: 70px;
    margin-left: 120px;
    width: 324px;
    height: 324px;
  }
}

@media screen and (min-width: 768px) {
  .hero-circle {
    margin-top: 31px;
    margin-left: 273px;
    width: 324px;
    height: 324px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-circle {
    margin-top: 52px;
    margin-left: 360px;
    width: 538px;
    height: 538px;
  }
}

.hero-img-composition {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 16px;
}

@media screen and (min-width: 480px) {
  .hero-img-composition {
    margin-top: 31px;
    margin-left: 115px;
  }
}

@media screen and (min-width: 768px) {
  .hero-img-composition {
    margin-top: 63px;
    margin-left: 344px;
  }
}

.products {
  padding-top: 120px;
  padding-bottom: 100px;
  color: #E5E5E5;
}

.products__pre-title {
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(21/18);
  letter-spacing: 0em;
  color: #FFA5BA;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.products__title {
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: calc(39/34);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #D41443;
  margin-bottom: 145px;
}

.products-list__item {
  position: relative;
  text-align: center;
  width: 280px;
  height: 485px;
  border-radius: 24px;
  padding: 40px;
  padding-top: 160px;
  margin-bottom: 130px;
  margin-right: auto;
  margin-left: auto;
}

.products-list__item::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -110%);
          transform: translate(-50%, -110%);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 249px;
  height: 252px;
}

.products-list__item--icecream {
  background-color: #FFB8CA;
}

@media screen and (max-width: 767px) {
  .products-list__item--icecream::before {
    background-image: url(../images/products/Products-1m.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__item--icecream::before {
    background-image: url(../images/products/Products-1m@2.png);
  }
}

@media screen and (min-width: 768px) {
  .products-list__item--icecream::before {
    background-image: url(../images/products/Products-1t.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__item--icecream::before {
    background-image: url(../images/products/Products-1t@2.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-list__item--icecream::before {
    background-image: url(../images/products/Products-1d.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-list__item--icecream::before {
    background-image: url(../images/products/Products-1d@2.png);
  }
}

.products-list__item--icecoffee {
  background-color: #F0D1A5;
}

@media screen and (max-width: 767px) {
  .products-list__item--icecoffee::before {
    background-image: url(../images/products/Products-2m.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__item--icecoffee::before {
    background-image: url(../images/products/Products-2m@2.png);
  }
}

@media screen and (min-width: 768px) {
  .products-list__item--icecoffee::before {
    background-image: url(../images/products/Products-2t.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__item--icecoffee::before {
    background-image: url(../images/products/Products-2t@2.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-list__item--icecoffee::before {
    background-image: url(../images/products/Products-2d.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-list__item--icecoffee::before {
    background-image: url(../images/products/Products-2d@2.png);
  }
}

.products-list__item--milkshakes {
  background-color: #C2E297;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .products-list__item--milkshakes::before {
    background-image: url(../images/products/Products-3m.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__item--milkshakes::before {
    background-image: url(../images/products/Products-3m@2.png);
  }
}

@media screen and (min-width: 768px) {
  .products-list__item--milkshakes::before {
    background-image: url(../images/products/Products-3t.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__item--milkshakes::before {
    background-image: url(../images/products/Products-3t@2.png);
  }
}

@media screen and (min-width: 1280px) {
  .products-list__item--milkshakes::before {
    background-image: url(../images/products/Products-3d.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products-list__item--milkshakes::before {
    background-image: url(../images/products/Products-3d@2.png);
  }
}

.products-list__title {
  font-family: Titan One;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.86;
  letter-spacing: 0.04em;
  margin-bottom: 66px;
}

.products-list__title::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: 30px;
  display: block;
  width: 26px;
  height: 6px;
  border-bottom: 6px dotted #FFFFFF;
}

.products-list__text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 30px;
  position: relative;
}

.products-list__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.products-list__icon {
  fill: #D41443;
}

.products-list__btn:hover .products-list__icon {
  fill: #C7133E;
}

.about {
  background: #fff5f6;
  padding-top: 125px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 60px 0 60px;
}

.title {
  font-family: 'Titan One';
  margin-bottom: 15px;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.headline {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
}

.milk-cow {
  display: block;
}

.milk-cow-img {
  padding: 0 20px 0 20px;
  max-width: 280px;
  margin: 0 auto;
}

.about-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cow-text-list {
  font-family: 'DM Sans';
  padding: 0 50px 0 50px;
  margin: 12px 0 0 0;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);
  color: #907e82;
  list-style: none;
  max-width: 320px;
}

.cow-text {
  margin-bottom: 20px;
}

.cow-text:first-child {
  color: #000000;
  margin-bottom: 40px;
}

.cow-text:last-child {
  margin-bottom: 17px;
}

.milk-overlay {
  position: relative;
  margin-top: -125px;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.about-readmore-button {
  margin: 0 94px 0 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 176px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border-color: transparent;
  color: #d41443;
}

.advantages {
  padding-top: 39px;
  padding-bottom: 97px;
  background-color: #fff5f6;
}

.advantages__list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__item {
  width: 100%;
}

.advantages__item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% / 3) - 30px);
        flex-basis: calc((100% / 3) - 30px);
  }
  .advantages__item:not(:first-child) {
    margin-left: 30px;
  }
  .advantages__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item:not(:first-child) {
    margin-left: 60px;
  }
}

.advantages__item::before {
  content: '';
  display: block;
  height: 50px;
}

.advantages__item.advantages__picture-consist::before {
  background-image: url("../images/advantages/icon-adv-1-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin-bottom: 16px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item.advantages__picture-consist::before {
    background-image: url("../images/advantages/icon-adv-1-2.png");
  }
}

@media screen and (min-width: 768px) {
  .advantages__item.advantages__picture-consist::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item.advantages__picture-consist::before {
    margin-bottom: 40px;
  }
}

.advantages__item.advantages__picture-weight::before {
  background-image: url("../images/advantages/icon-adv-2-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin-bottom: 16px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item.advantages__picture-weight::before {
    background-image: url("../images/advantages/icon-adv-2-2.png");
  }
}

@media screen and (min-width: 768px) {
  .advantages__item.advantages__picture-weight::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item.advantages__picture-weight::before {
    margin-bottom: 40px;
  }
}

.advantages__item.advantages__picture-view::before {
  background-image: url("../images/advantages/icon-adv-3-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin-bottom: 16px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item.advantages__picture-view::before {
    background-image: url("../images/advantages/icon-adv-3-2.png");
  }
}

@media screen and (min-width: 768px) {
  .advantages__item.advantages__picture-view::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item.advantages__picture-view::before {
    margin-bottom: 40px;
  }
}

.advantages__number {
  font-family: Titan One;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .advantages__number {
    font-size: 48px;
    line-height: calc(55 / 48);
  }
}

@media screen and (min-width: 1280px) {
  .advantages__number {
    font-size: 58px;
    line-height: calc(66 / 58);
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

@media screen and (min-width: 1280px) {
  .advantages__text {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}

.gallery {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(55%, #fff), color-stop(45%, #fff5f6));
  background-image: linear-gradient(to top, #fff 55%, #fff5f6 45%);
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  margin-bottom: -3px;
  margin-left: -3px;
}

@media screen and (min-width: 479px) {
  .gallery__list {
    margin-bottom: -5px;
    margin-left: -5px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__list {
    margin-bottom: -7px;
    margin-left: -7px;
  }
}

@media screen and (max-width: 479px) {
  .gallery__card img {
    border-radius: 5px;
  }
}

@media screen and (min-width: 480px) {
  .gallery__card img {
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__card img {
    border-radius: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__card img {
    border-radius: 20px;
  }
}

.gallery__card {
  display: block;
  background-color: #FFB8CA;
  border-radius: 5px;
  width: 39px;
  height: 39px;
  margin-bottom: 3px;
  margin-left: 3px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (min-width: 480px) {
  .gallery__card {
    border-radius: 10px;
    width: 62px;
    height: 62px;
    margin-bottom: 4px;
    margin-left: 4px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__card {
    border-radius: 15px;
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__card {
    border-radius: 20px;
    width: 136px;
    height: 136px;
    margin-bottom: 7px;
    margin-left: 7px;
  }
}

.up {
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .up {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .up {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .up {
    margin-bottom: 50px;
  }
}

.gallery__card_x2 {
  width: 83px;
  height: 83px;
}

@media screen and (min-width: 480px) {
  .gallery__card_x2 {
    width: 110px;
    height: 110px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__card_x2 {
    width: 175px;
    height: 175px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__card_x2 {
    width: 285px;
    height: 285px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: -20px;
}

.contacts-item {
  margin-left: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .contacts-item {
    margin-left: 20px;
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
        flex-basis: calc(100% / 3 - 20px);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item {
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.contacts-item__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 44px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .contacts-item__block {
    padding: 50px 32px;
    font-size: 14px;
    line-height: calc(26 / 14);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item__block {
    padding: 54px 44px;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts-item__type {
  margin-bottom: 25px;
  color: #ffffff;
  background: #f0d1a5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
}

.contacts-item__type--green {
  background: #c2e297;
}

.contacts-item__title {
  margin-bottom: 10px;
  color: var(#000000);
}

.contacts-item__description {
  margin-bottom: 25px;
  color: var(#907e82);
}

.schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.schedule__item:not(:last-child) {
  margin-bottom: 10px;
}

.schedule__days {
  color: var(#000000);
}

.schedule__wh {
  color: var(#ffa5ba);
}

.contact-us__link {
  color: var(#907e82);
}

.windows-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFF5F6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 54px;
  margin-bottom: 113px;
}

@media screen and (min-width: 480px) {
  .windows-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.windows-mobile__button {
  width: 161.45px;
  height: 44px;
  background: #D41342;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 17px;
  color: #FFFFFF;
  margin-bottom: 10px;
  border: transparent;
}

@media screen and (min-width: 768px) {
  .windows-mobile__button {
    margin-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .windows-mobile__button {
    width: 191px;
  }
}

@media screen and (max-width: 1280px) {
  .windows-mobile__button {
    width: 191px;
  }
}

.windows-mobile__button--white {
  color: #D41443;
  background: #FFFFFF;
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 32px;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .windows-mobile__button--white {
    width: 174.05px;
  }
}

@media screen and (max-width: 1280px) {
  .windows-mobile__button--white {
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .windows-mobile__button--white {
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .windows-mobile__button--white {
    margin-left: 0;
  }
}

.windows-mobile__svg {
  width: 10px;
  height: 15px;
  border: 2px solid transparent;
  fill: #FFFFFF;
  background-color: transparent;
  margin-left: 8px;
}

.windows-mobile__svg--white {
  width: 10px;
  height: 15px;
  border: 2px solid transparent;
  fill: #D41443;
  background: transparent;
  margin-left: 13px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: background, border;
  transition-property: background, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .backdrop {
    top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    left: 0;
    width: 100%;
  }
}

.modal {
  position: absolute;
  width: 100%;
  padding: 93px 15px 94px 15px;
  min-height: 581px;
  background-color: #FFF5F6;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    width: 450px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    padding: 40px 39px 40px 41px;
  }
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  width: 30px;
  height: 30px;
  fill: var(--secondary-title-color);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal__button {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
  }
}

.modal__button:hover .modal__icon {
  fill: var(--hover-effect-color);
}

.modal__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
}

.modal__title {
  margin-bottom: 12px;
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.modal__list {
  margin-bottom: 10px;
}

.modal__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__label {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16px;
  /* identical to box height */
  margin-bottom: 4px;
  height: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-title-color);
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* left: 15px; */
  /* z-index: 1; */
}

.modal__form {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /* padding: 0 40px 40px 40px; */
}

.modal__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* outline: 2px solid #2F303A; */
  height: 40px;
  padding-left: 42px;
  padding-right: 20px;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-flex-group: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.01em;
  width: 100%;
  color: var(--secondary-title-color);
  -webkit-transition-property: fill, background-color, border;
  transition-property: fill, background-color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border: 1px solid var(--hover-effect-color);
}

.modal__input:focus + .modal__svg {
  fill: var(--hover-effect-color);
}

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* margin-bottom: 20px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height, or 171% */
  color: var(--secondary-title-color);
  letter-spacing: 0.03em;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal__check {
    font-size: 14px;
    line-height: 2;
  }
}

.modal__check span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-title-color);
  border-radius: 3px;
  margin-right: 7px;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal__checkbox:checked + .modal__check span {
  background-color: var(--hover-effect-color);
  border-color: var(--hover-effect-color);
}

textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 4px;
  height: 120px;
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
  border: 1px solid var(--hover-effect-color);
}

.coment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.modal__textarea {
  outline: none;
  width: 100%;
}

.modal__textarea::-webkit-input-placeholder {
  padding: 12px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:-ms-input-placeholder {
  padding: 12px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::-ms-input-placeholder {
  padding: 12px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::placeholder {
  padding: 12px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__send {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--adress-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: var(--hover-effect-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__bottom {
  padding: 25px;
  border-top: 1px solid #e1e1e1;
}

.footer__heading-wrapper {
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .footer__heading-wrapper {
    margin-bottom: 90px;
  }
}

.footer__heading-one {
  font-family: Titan One;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  color: #ffa5ba;
  text-transform: uppercase;
}

.footer__heading-one--mobile {
  display: none;
}

@media screen and (max-width: 1279px) {
  .footer__heading-one--mobile {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer__heading-one {
    margin-top: 7px;
    font-size: 26px;
  }
}

.footer__heading-two {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 15px;
  font-size: 34px;
  line-height: 1.15;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .footer__heading-two {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 45px;
}

.socials__piece:not(:last-child) {
  margin-right: 30px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
}

@media screen and (min-width: 768px) {
  .socials__link {
    width: 34px;
    height: 34px;
  }
}

.socials__link:hover {
  background-color: #d41443;
}

.footer__contact-text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer__contact-text {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .footer__contact-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__contact-text {
    font-size: 16px;
  }
}

.footer__contact-tel {
  color: #d41443;
}

.footer__copyright {
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  width: 150px;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    width: 100%;
    line-height: 1.85;
  }
}
/*# sourceMappingURL=main.css.map */