/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/breakpoints';
@import './utils/vars';
@import './utils/hidden';
@import './base/common';
@import './base/reset';
@import './components/container';
@import './components/section';

@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './customers';
@import './contacts';
@import './winows-mobile';
@import './modal-window';
@import './footer';
@import './modal-buy';
