$accent-color: rgba(212, 20, 67, 1);
$bgc-section: #fff5f6;
$primary-text-color: #000000;
$secondary-text-color: #907e82;
$rosy-text-color: #ffa5ba;
$hero-text: #ffffff;
$hero-bgr: #ffb8ca;
$bgc-mob-menu: #e17992;
$hover-btn-color: #ecebeb;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$timing-duration: 500ms;
