<section class="about">
    <div class="about-container">
        <div class="about-list">
            <label class="title"> tradition and love</label>
            <h1 class="headline"> how it’s made?</h>
            <a class="milk-cow" href=""><img class="milk-cow-img" src="./images/about/about-1m.png" alt="milk and cow" width="280" height="279"></a>
        </div>
        <div class="about-subcontainer">
            <ul class="cow-text-list">
                <li class="cow-text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem
                    eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </li>
                <li class="cow-text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </li>
                <li class="cow-text">Aliquam erat volutpat. Aenean accumsan.</li>
            </ul>
            <button class="about-readmore-button" type="button" data-modal-open>Read more</button>
        </div>
    </div>
    <img class="milk-overlay" src="./images/about/about-2m.png" alt="milk">
</section>