<section class="about about-section">
    <div class="about-list">
        <label class="about-list__title" for="tradition and love"> tradition and love</label>
        <h1 class="about-list__headline"> how it’s made?</h>
    </div>
    <div class="about-container">
        <picture>
            <source srcset="./images/about/about-1d-min.png 1x, ./images/about/about-1d@2-min.png 2x" media="(min-width:1200px)"
                type="image/png" />
            <source srcset="./images/about/about-1t.png 1x, ./images/about/about-1t@2.png 2x" media="(min-width:768px)"
                type="image/png" />
            <source srcset="./images/about/about-1m.png 1x, ./images/about/about-1m@2.png 2x" media="(min-width:480px)"
                type="image/png" />
            <img class="milk-cow-img" src="./images/about/about-1d-min.png" alt="milk and cow" width="280" height="279">
        </picture>
        <div class="about-subcontainer">
            <ul class="cow-text-list">
                <li class="cow-text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem
                    eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </li>
                <li class="cow-text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </li>
                <li class="cow-text">Aliquam erat volutpat. Aenean accumsan.</li>
            </ul>
            <button class="about-readmore-button" type="button" data-modal-open>Read more
                <svg class="about-readmore-img" width="8" height="8">
                    <use href="./images/sprite.svg#icon-Vector-btn"></use>
                </svg>
            </button>
        </div>
        <!-- <picture>
            <source srcset="./images/about/about-2d-min.png 1x, ./images/about/about-2d@2-min.png 2x" media="(min-width:1200px)"
                type="image/png" />
            <source srcset="./images/about/about-2m.png 1x, ./images/about/about-2m@2.png 2x" media="(min-width:480px)"
                type="image/png" />
            <img class="milk-overlay" src="./images/about/about-2d-min.png" alt="milk">
        </picture> -->
    </div>
</section>
