<section class="about">
    <div class="about-list">
        <label class="title"> tradition and love</label>
        <h1 class="headline"> how it’s made?</h>
    </div>
    <a class="milk-cow"  href=""><img class="milk-cow-img" src="./images/cow_and_milk.png" alt="milk and cow" width="280" height="279"></a>
    <div class="about-subcontainer">
        <ul class="cow-text-list">
            <li class="cow-text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem
                    eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.
            </li>
            <li class="cow-text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            </li>
            <li class="cow-text">Aliquam erat volutpat. Aenean accumsan.</li>
        </ul>
    </div>
    <div class="about-subcontainer">
        <button class="about-readmore-button" type="button" data-modal-open>Read more</button>
    </div>
    <img class="milk-overlay" src="./images/milk.png" alt="milk">
    
</section>