<section class="advantages">
    <div class="container">
       
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list list">
            
            <li class="advantages__item advantages__picture-consist">
               
                <p class="advantages__number">721</p>
                <p class="advantages__text">Delicious ice cream, made from our very own organic milk.</p>
                        
            </li>
            <li class="advantages__item advantages__picture-weight">
                    <p class="advantages__number">16KG</p>
                    <p class="advantages__text">We use fully recyclable packaging.</p>
               
            </li>
            <li class="advantages__item advantages__picture-view">
                
                    <p class="advantages__number">84</p>
                    <p class="advantages__text">Enjoy our flavoursome range of gorgeous ice cream.</p>
                
            </li>
        </ul>
       
    </div>
    </section>
