<div class="outer-circle">
  <div class="inner-square">
    <!-- FIRST LINE -->
    <svg class="iconone lineone">
      <use href="./images/sprite.svg#ic1"></use>
    </svg>
    <svg class="icontwo lineone">
      <use href="./images/sprite.svg#ic2"></use>
    </svg>
    <svg class="iconthree lineone">
      <use href="./images/sprite.svg#ic3"></use>
    </svg>
    <svg class="iconfour lineone">
      <use href="./images/sprite.svg#ic4"></use>
    </svg>
    <svg class="iconfive lineone">
      <use href="./images/sprite.svg#ic5"></use>
    </svg>
    <svg class="iconsix lineone">
      <use href="./images/sprite.svg#ic6"></use>
    </svg>
    <svg class="iconseven lineone">
      <use href="./images/sprite.svg#ic7"></use>
    </svg>
    <!-- FIRST LINE -->

    <!-- SECOND LINE -->

    <svg class="icontwo linetwo">
      <use href="./images/sprite.svg#ic2"></use>
    </svg>
    <svg class="iconthree linetwo">
      <use href="./images/sprite.svg#ic3"></use>
    </svg>
    <svg class="iconfour linetwo">
      <use href="./images/sprite.svg#ic4"></use>
    </svg>
    <svg class="iconfive linetwo">
      <use href="./images/sprite.svg#ic5"></use>
    </svg>
    <svg class="iconsix linetwo">
      <use href="./images/sprite.svg#ic6"></use>
    </svg>
    <svg class="iconseven linetwo">
      <use href="./images/sprite.svg#ic7"></use>
    </svg>
    <svg class="iconone linetwo">
      <use href="./images/sprite.svg#ic1"></use>
    </svg>
    <!-- SECOND LINE -->

    <!-- THIRD LINE -->
    <svg class="iconthree linethree">
      <use href="./images/sprite.svg#ic3"></use>
    </svg>
    <svg class="iconfour linethree">
      <use href="./images/sprite.svg#ic4"></use>
    </svg>
    <svg class="iconfive linethree">
      <use href="./images/sprite.svg#ic5"></use>
    </svg>
    <svg class="iconsix linethree">
      <use href="./images/sprite.svg#ic6"></use>
    </svg>
    <svg class="iconseven linethree">
      <use href="./images/sprite.svg#ic7"></use>
    </svg>
    <svg class="iconone linethree">
      <use href="./images/sprite.svg#ic1"></use>
    </svg>
    <svg class="icontwo linethree">
      <use href="./images/sprite.svg#ic2"></use>
    </svg>
    <!-- THIRD LINE -->

    <!-- FOURTH LINE -->
    <svg class="iconfour linefour">
      <use href="./images/sprite.svg#ic4"></use>
    </svg>
    <svg class="iconfive linefour">
      <use href="./images/sprite.svg#ic5"></use>
    </svg>
    <svg class="iconsix linefour">
      <use href="./images/sprite.svg#ic6"></use>
    </svg>
    <svg class="iconseven linefour">
      <use href="./images/sprite.svg#ic7"></use>
    </svg>
    <svg class="iconone linefour">
      <use href="./images/sprite.svg#ic1"></use>
    </svg>
    <svg class="icontwo linefour">
      <use href="./images/sprite.svg#ic2"></use>
    </svg>
    <svg class="iconthree linefour">
      <use href="./images/sprite.svg#ic3"></use>
    </svg>
    <!-- FOURTH LINE -->

    <!-- FIFTH LINE -->
    <svg class="iconfive linefive">
      <use href="./images/sprite.svg#ic5"></use>
    </svg>
    <svg class="iconsix linefive">
      <use href="./images/sprite.svg#ic6"></use>
    </svg>
    <svg class="iconseven linefive">
      <use href="./images/sprite.svg#ic7"></use>
    </svg>
    <svg class="iconone linefive">
      <use href="./images/sprite.svg#ic1"></use>
    </svg>
    <svg class="icontwo linefive">
      <use href="./images/sprite.svg#ic2"></use>
    </svg>
    <svg class="iconthree linefive">
      <use href="./images/sprite.svg#ic3"></use>
    </svg>
    <svg class="iconfive linefive">
      <use href="./images/sprite.svg#ic4"></use>
    </svg>
    <!-- FIFTH LINE -->

    <!-- SIXTH LINE -->
    <svg class="iconsix linesix">
      <use href="./images/sprite.svg#ic6"></use>
    </svg>
    <svg class="iconseven linesix">
      <use href="./images/sprite.svg#ic7"></use>
    </svg>
    <svg class="iconone linesix">
      <use href="./images/sprite.svg#ic1"></use>
    </svg>
    <svg class="icontwo linesix">
      <use href="./images/sprite.svg#ic2"></use>
    </svg>
    <svg class="iconthree linesix">
      <use href="./images/sprite.svg#ic3"></use>
    </svg>
    <svg class="iconfour linesix">
      <use href="./images/sprite.svg#ic4"></use>
    </svg>
    <svg class="iconsix linesix">
      <use href="./images/sprite.svg#ic5"></use>
    </svg>
    <!-- SIXTH LINE -->
  </div>
</div>
