<section id="contacts" class="contacts-section">

  <div class="container">
    <h3 class="visually-hidden">Contacts</h3>

    <ul class="contacts list">
      <li class="contacts-item">
        <div class="contacts-item__block">
          <div class="contacts-specification">
            <p class="contacts-specification__type">CAFE</p>
            <p class="contacts-specification__title">Chicago</p>
            <p class="contacts-specification__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>

          </div>

          <ul class="schedule list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__wh">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__wh">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contact-us list">
            <li class="contact-us__item">
              <a href="tel:+610383766284" class="contact-us__link link"> +61(0) 383 766 284 </a>
            </li>
            <li class="contact-us__item">
              <a href="mailto:noreply@envato.com" class="contact-us__link link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts-item">
        <div class="contacts-item__block">
          <div class="contacts-specification">
            <p class="contacts-specification__type contacts-specification__type--green">
              FOODTRUCK
            </p>
            <p class="contacts-specification__title">Los Angeles</p>
            <p class="contacts-specification__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>

          <ul class="schedule list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__wh">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__wh">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contact-us list">
            <li class="contact-us__item">
              <a href="tel:+610383766284" class="contact-us__link link"> +61(0) 383 766 284 </a>
            </li>
            <li class="contact-us__item">
              <a href="mailto:noreply@envato.com" class="contact-us__link link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts-item">
        <div class="contacts-item__block">
          <div class="contacts-specification">
            <p class="contacts-specification__type">CAFE</p>
            <p class="contacts-specification__title">New York</p>
            <p class="contacts-specification__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>

          <ul class="schedule list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__wh">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__wh">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contact-us list">
            <li class="contact-us__item">
              <a href="tel:+610383766284" class="contact-us__link link"> +61(0) 383 766 284 </a>
            </li>
            <li class="contact-us__item">
              <a href="mailto:noreply@envato.com" class="contact-us__link link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="windows-mobile">
    <button class="windows-mobile__button" type="button">Our Locations
      <svg class="windows-mobile__svg">
        <use href="./images/sprite.svg#vector"></use>
      </svg>
    </button>
    <button class="windows-mobile__button--white" type="button">Franchise
      <svg class="windows-mobile__svg--white">
        <use href="./images/sprite.svg#vector-pink"></use>
      </svg>
    </button>
  </div>
  <div class="modal-maps is-hidden">
    <button modal-maps__close class="modal__button">
      <svg class="modal__picture">
        <use class="modal__icon" href="./images/sprite.svg#close-black">
        </use>
      </svg>
    </button>
    <div class="modal-map">
      <div class="modal-map-inform">
        <p class="modal-map-text">
          We are a young, but very promising company. Our ice cream is made from natural premium cow's milk. Which is
          selected very carefully by our qualified specialists.
        </p>
        <p class="modal-map-text2">
          If you want to enjoy the taste of real "divine" ice cream. Or, perhaps, try a cooling and tonic milk cocktail.
          Or warm up with a cup of our signature "Ice coffe".
          Then come to one of our establishments or just press the "Buy now" button and we will deliver you our "Cold
          Fatasia" ourselves.
        </p>
      </div>
  
      <p class="checkbox-logo">Choose your country</p>
      <div class="checkbox-blok">
        <input type="checkbox" id="checkbox-map">
        <label for="checkbox-map" class="checkbox-map-text">London <a href=""><map name="">Site</map></a></label>
        <img src="./images/map-img/London.jpg" alt="" class="checkbox-img">
        <input type="checkbox" id="checkbox-map2">
        <label for="checkbox-map2" class="checkbox-map-text">Dartfod <a href=""><map name="">Site</map></a></label>
        <img src="./images/map-img/dartford.jpg" alt="" class="checkbox-img">
        <input type="checkbox" id="checkbox-map3">
        <label for="checkbox-map3" class="checkbox-map-text">Birmingham <a href=""><map name="">Site</map></a></label>
        <img src="./images/map-img/Birmingham.jpg" alt="" class="checkbox-img">
  
      </div>
  
      <div class="backdrop is-hidden" data-modal>
        <div class="modal">
          <button data-modal-close class="modal__button">
            <svg class="modal__picture">
              <use class="modal__icon" href="./images/sprite.svg#close-black">
              </use>
            </svg>
          </button>
          <form class="modal__form" name="signup_form" autocomplete="on" novalidate>
            <h2 class="modal__title--title">Become a stockist of our delicious ice cream</h2>
            <p class="modal__title">Leave your details, we will call you back</p>
            <div class="modal__list">
              <label class="modal__label" for="name">
                Name </label>
              <span class="modal__wrapper">
                <input class="modal__input" type="text" name="name" id="name" />
                <svg class="modal__svg" style="width: 18px; height: 18px; ">
                  <use class="modal__noname" href="./images/sprite.svg#person-black"></use>
                </svg>
              </span>
            </div>
            <div class="modal__list">
              <label class="modal__label" for="phone">
                Phone </label>
              <span class="modal__wrapper">
                <input class="modal__input" type="tel" name="tel" id="phone" />
                <svg class="modal__svg" style="width: 18px; height: 18px; ">
                  <use class="modal__noname" href="./images/sprite.svg#phone-black"></use>
                </svg>
              </span>
            </div>
            <div class="modal__list">
              <label class="modal__label" for="email">
                Mail </label>
              <span class="modal__wrapper">
                <input class="modal__input" type="email" name="email" id="email" />
                <svg class="modal__svg" style="width: 18px; height: 18px; ">
                  <use class="modal__noname" href="./images/sprite.svg#email-black"></use>
                </svg>
              </span>
            </div>
            <div class="modal__list">
              <label class="modal__label" for="coment">
                Your comment </label>
              <span class="modal__wrapper">
                <textarea class="modal__textarea" name="comment" id="coment"
                  placeholder="Введите текст"></textarea></span>
              <input type="checkbox" name="contract" value="contract" id="check" class="modal__checkbox" required />
              <label for="check" class="modal__check">
                <span>
                  <svg class="modal__noname" style="width: 11px; height: 8px; ">
                    <use class="" href="./images/sprite.svg#check">
                    </use>
                  </svg>
                </span>
                I agree with the mailing and accept
                <a href=""> "Terms of the contract" </a> </label>
              <button class="modal__send" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
      
</section>
