<section id="contacts" class="contacts-section">

  <div class="container">
    <h3 class="visually-hidden">Contacts</h3>

    <ul class="contacts list">
      <li class="contacts-item">
        <div class="contacts-item__block">
          <div class="contacts-specification">
            <p class="contacts-specification__type">CAFE</p>
            <p class="contacts-specification__title">Chicago</p>
            <p class="contacts-specification__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>

          </div>

          <ul class="schedule list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__wh">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__wh">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contact-us list">
            <li class="contact-us__item">
              <a href="tel:+610383766284" class="contact-us__link link"> +61(0) 383 766 284 </a>
            </li>
            <li class="contact-us__item">
              <a href="mailto:noreply@envato.com" class="contact-us__link link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts-item">
        <div class="contacts-item__block">
          <div class="contacts-specification">
            <p class="contacts-specification__type contacts-specification__type--green">
              FOODTRUCK
            </p>
            <p class="contacts-specification__title">Los Angeles</p>
            <p class="contacts-specification__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>

          <ul class="schedule list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__wh">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__wh">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contact-us list">
            <li class="contact-us__item">
              <a href="tel:+610383766284" class="contact-us__link link"> +61(0) 383 766 284 </a>
            </li>
            <li class="contact-us__item">
              <a href="mailto:noreply@envato.com" class="contact-us__link link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts-item">
        <div class="contacts-item__block">
          <div class="contacts-specification">
            <p class="contacts-specification__type">CAFE</p>
            <p class="contacts-specification__title">New York</p>
            <p class="contacts-specification__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>

          <ul class="schedule list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__wh">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__wh">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="contact-us list">
            <li class="contact-us__item">
              <a href="tel:+610383766284" class="contact-us__link link"> +61(0) 383 766 284 </a>
            </li>
            <li class="contact-us__item">
              <a href="mailto:noreply@envato.com" class="contact-us__link link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
