<section class="section">
    <div class="container">
        <ul class="contacts list">
            <li class="contacts-item">
            <div class="contacts-item__type">CAFE</div>

            <p class="contacts-item__title">Chicago</p>
            <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <ul class="schedule list">
                <li class="schedule__item">
                    <p class="schedule__days">Monday - Friday</p>
                    <time class="schedule__wh">06:00 AM - 10:00 PM</time>
                </li>
                <li class="schedule__item">
                    <p class="schedule__days">Saturday - Sunday</p>
                    <time class="schedule__wh">08:00 AM - 16:00 PM</time>
                </li>
            </ul>

            <ul class="contact-us list">
                <li class="contact-us__item">
                    <a href="tel:+610383766284" class="contact-us__link">
                        +61(0) 383 766 284
                    </a>
                </li>
                <li class="contact-us__item">
                    <a href="mailto:noreply@envato.com" class="contact-us__link">
                        noreply@envato.com
                    </a>
                </li>
            </ul>
            </li>

            <li class="contacts-item">
            <div class="contacts-item__type">FOODTRUCK</div>
            
            <p class="contacts-item__title">Los Angeles</p>
            <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <ul class="schedule list">
                <li class="schedule__item">
                    <p class="schedule__days">Monday - Friday</p>
                    <time class="schedule__wh">06:00 AM - 10:00 PM</time>
                </li>
                <li class="schedule__item">
                    <p class="schedule__days">Saturday - Sunday</p>
                    <time class="schedule__wh">08:00 AM - 16:00 PM</time>
                </li>
            </ul>
            
            <ul class="contact-us list">
                <li class="contact-us__item">
                    <a href="tel:+610383766284" class="contact-us__link">
                        +61(0) 383 766 284
                    </a>
                </li>
                <li class="contact-us__item">
                    <a href="mailto:noreply@envato.com" class="contact-us__link">
                        noreply@envato.com
                    </a>
                </li>
            </ul>
            </li>

            <li class="contacts-item">
            <div class="contacts-item__type">CAFE</div>
            
            <p class="contacts-item__title">New York</p>
            <p class="contacts-item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <ul class="schedule list">
                <li class="schedule__item">
                    <p class="schedule__days">Monday - Friday</p>
                    <time class="schedule__wh">06:00 AM - 10:00 PM</time>
                </li>
                <li class="schedule__item">
                    <p class="schedule__days">Saturday - Sunday</p>
                    <time class="schedule__wh">08:00 AM - 16:00 PM</time>
                </li>
            </ul>
            
            <ul class="contact-us list">
                <li class="contact-us__item">
                    <a href="tel:+610383766284" class="contact-us__link">
                        +61(0) 383 766 284
                    </a>
                </li>
                <li class="contact-us__item">
                    <a href="mailto:noreply@envato.com" class="contact-us__link">
                        noreply@envato.com
                    </a>
                </li>
            </ul>
            </li>

        </ul>
    </div>
</section>