<section class="customers">
    <div class="container">
        <div class="slider">
            <input type="radio" name="r" id="r1" aria-hidden="true" hidden="" checked />
            <input type="radio" name="r" id="r2" aria-hidden="true" hidden="" />
            <input type="radio" name="r" id="r3" aria-hidden="true" hidden="" />

            <div class="slides">


                <div class="slide s1"><img src="./images/customer_reviews/customer_reviews-1d-min.png" alt="" />
                    <div class="card">

                        <div class="gradient">

                            <span class="text">I love your ice cream so much.
                                It really is the best ice cream that I have ever tasted The biggest surprise for me was
                                how much my husband loves your ice cream.
                                He had always been a dairy based ice cream fan.
                            </span>

                           
                        </div>
                    </div>

                    <span class="guest">
                        Emily, Los Angeles
                    </span>
                </div>

                <div class="slide"><img src="./images/customer_reviews/customer_reviews-2d-min.png" alt="" />
                    <div class="card">

                        <div class="gradient">
                            <span class="text">Refreshing and cool. The Green Mint Chip is not too sweet, but at the
                                same time it isn’t overly minty or flavorless.
                                Take that first spoonful of ice cream and before you know it, you’re at the bottom of
                                your container!</span>
                        </div>
                    </div>

                    <span class="guest">
                        Emily, Los Angeles
                    </span>
                </div>

                <div class="slide"><img src="./images/customer_reviews/customer_reviews-3d-min.png" alt="" />
                    <div class="card">

                        <div class="gradient">

                            <span class="text">It’s a pleasure to dip into a frozen product that is so delicious without
                                all of the additives that many frozen products rely on.
                                The vanilla flavor is wonderful but not overpowering - providing a great accompaniment
                                your favorite treat.</span>

                        </div>
                    </div>

                    <span class="guest">
                        Emily, Los Angeles
                    </span>
                </div>
            </div>

            <label for="r1" class="slid-control prev control-1"></label>
            <label for="r2" class="slid-control next control-2"></label>
            <label for="r3" class="slid-control prev control-3"></label>

            <label for="r1" class="slid-control next control-1"></label>
            <label for="r2" class="slid-control prev control-2"></label>
            <label for="r3" class="slid-control next control-3"></label>
            <div class="navigation">

                <label for="r1" class="bar">


                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>

                <label for="r2" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>
                <label for="r3" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>

            </div>
        </div>
    </div>

    </div>

</section>
