<section class="customers">
    <div class="container">
        <div class="slider">
            <input type="radio" name="r" id="r1" hidden="" checked />
            <input type="radio" name="r" id="r2" hidden="" />
            <input type="radio" name="r" id="r3" hidden="" />
            <input type="radio" name="r" id="r4" hidden="" />
            <input type="radio" name="r" id="r5" hidden="" />
            <input type="radio" name="r" id="r6" hidden="" />
            <input type="radio" name="r" id="r7" hidden="" />

            <div class="slides">

                <div class="slide s1">
                    <article class="text">
                    <picture>
                        <source srcset="./images/customer_reviews/max.png  1x, ./images/customer_reviews/max.png 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/customer_reviews/max.png 1x, ./images/customer_reviews/max.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/customer_reviews/max.png 1x, ./images/customer_reviews/max.png 2x" media="(max-width: 767px)">

                          <img src="./images/customer_reviews/max.png" alt="" />
                    </picture>
                    <div class="card">
                        <div class="gradient">
                            <span>
                                Your ice cream is amazing! You're the best in New York! I wish you all the best!
                                What can be better?
                            </span>

                        </div>
                    </div>
                    </article>

                    <span class="guest">
                        Maksym Bernatskyi, Kyiv, Ukraine
                    </span>
                </div>

                <div class="slide">
                    <article class="text">
                    <picture>
                        <source
                            srcset="./images/customer_reviews/dmytro.png  1x, ./images/customer_reviews/dmytro.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="./images/customer_reviews/dmytro.png 1x, ./images/customer_reviews/dmytro.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/customer_reviews/dmytro.png 1x, ./images/customer_reviews/dmytro.png 2x"
                            media="(max-width: 767px)">
                         <img src="./images/customer_reviews/dmytro.png" alt="" />
                    </picture>
                    <div class="card">
                        <div class="gradient">
                            <span>
                            "I'm amazed with the variety of ice cream you've got. Different colours, tastes and fillings. What can be better?"
                            </span>
                        </div>
                       </div>
                    </article>
                    <span class="guest">
                        Dmytro, Canada
                    </span>
                </div>

                <div class="slide">
                    <article class="text">
                    <picture>
                        <source srcset="./images/customer_reviews/maria.png  1x, ./images/customer_reviews/maria.png 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/customer_reviews/maria.png 1x, ./images/customer_reviews/maria.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/customer_reviews/maria.png 1x, ./images/customer_reviews/maria.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/customer_reviews/maria.png" alt="" />
                    </picture>
                
                    <div class="card">
                        <div class="gradient">
                            <span> "This is some of the best ice cream company. Everyone in our group loved it. What can be better?"</span>
                        </div>
                    </div>
                    </article>
                    <span class="guest">
                        Mariia Zhuravlova, Vyshhorod
                    </span>
                </div>

                <div class="slide">
                    <article class="text">
                    <picture>
                    <source
                        srcset="./images/customer_reviews/vasiliygumeniuk.png 1x, ./images/customer_reviews/vasiliygumeniuk.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/customer_reviews/vasiliygumeniuk.png 1x, ./images/customer_reviews/vasiliygumeniuk.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/customer_reviews/vasiliygumeniuk.png 1x, ./images/customer_reviews/vasiliygumeniuk.png 2x"
                        media="(max-width: 767px)">
                    <img src="./images/customer_reviews/vasiliygumeniuk.png" alt="" />
                    </picture>
                    <div class="card">

                        <div class="gradient">

                           <span> "This is some of the best ice cream company. Everyone in our group loved it. Mango was the bomb dot com."</span>


                        </div>
                    </div>
                    </article>
                    <span class="guest">
                        Vasyl Gumeniuk, Kyiv, Ukraine.
                    </span>
                </div>

                <div class="slide">
                    <article class="text">
                    <picture>
                        <source srcset="./images/customer_reviews/dimon.png  1x, ./images/customer_reviews/dimon.png 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/customer_reviews/dimon.png 1x, ./images/customer_reviews/dimon.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/customer_reviews/dimon.png 1x, ./images/customer_reviews/dimon.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/customer_reviews/dimon.png" alt="" />
                    </picture>
                
                    <div class="card">
                
                        <div class="gradient">
                           <span> "I live, work, try to spend time with my family, an eternal student. I like to eat ice-creame!"</span>
                        </div>
                    </div>
                    </article>
                    <span class="guest">
                        Dimon, Kyiv
                    </span>
                </div>

                <div class="slide">
                    <article class="text">
                    <picture>
                        <source srcset="./images/customer_reviews/olga.png  1x, ./images/customer_reviews/olga.png 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/customer_reviews/olga.png 1x, ./images/customer_reviews/olga.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/customer_reviews/olga.png 1x, ./images/customer_reviews/olga.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/customer_reviews/olga.png" alt="" />
                    </picture>
                
                    <div class="card">
                
                        <div class="gradient">
                           <span> Refreshing and cool.Take that first spoonful of ice cream, 
                               you’re at the bottom of your container!</span>
                        </div>
                    </div>
                    </article>
                    <span class="guest">
                        Olga Tenison, Kyiv
                    </span>
                </div>

                <div class="slide">
                    <article class="text">
                    <picture>
                        <source srcset="./images/customer_reviews/ruslana.png  1x, ./images/customer_reviews/ruslana.png 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./images/customer_reviews/ruslana.png 1x, ./images/customer_reviews/ruslana.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/customer_reviews/ruslana.png 1x, ./images/customer_reviews/ruslana.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/customer_reviews/ruslana.png" alt="" />
                    </picture>
                
                    <div class="card">
                
                        <div class="gradient">
                           <span> "This is some of the best ice cream company. Everyone in our group loved it. Mango was the bomb dot com."</span>
                        </div>
                    </div>
                    </article>
                    <span class="guest">
                        Ruslana Blozva, Kyiv
                    </span>
                </div>

            </div>

            <label for="r1" class="slid-control prev control-1"></label>
            <label for="r2" class="slid-control next control-2"></label>
            <label for="r3" class="slid-control prev control-3"></label>
            <label for="r4" class="slid-control next control-4"></label>
            <label for="r5" class="slid-control prev control-5"></label>
            <label for="r6" class="slid-control next control-6"></label>
            <label for="r7" class="slid-control prev control-7"></label>

            <label for="r1" class="slid-control next control-1"></label>
            <label for="r2" class="slid-control prev control-2"></label>
            <label for="r3" class="slid-control next control-3"></label>
            <label for="r4" class="slid-control prev control-4"></label>
            <label for="r5" class="slid-control next control-5"></label>
            <label for="r6" class="slid-control prev control-6"></label>
            <label for="r7" class="slid-control next control-7"></label>

            <div class="navigation">

                <label for="r1" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>

                <label for="r2" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>

                <label for="r3" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>

                <label for="r4" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>

                <label for="r5" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>
                <label for="r6" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>
                <label for="r7" class="bar">
                    <svg class="">
                        <use href="./images/sprite.svg#icon-Vector-7" width="8" height="8"></use>
                    </svg>
                </label>

            </div>
        </div>
    </div>
</section>
