<footer class="footer">
  <div class="footer__top container">
    <div class="footer__heading-wrapper">
      <h2 class="footer__heading-one">
        homemade ice cream <br class="footer__heading-one--mobile" />made<br />
        <span class="footer__heading-two"
          >with <br class="footer__heading-one--mobile" />passion</span
        >
      </h2>
    </div>
    <div class="footer-contacts">
      <ul class="socials list">
        <li class="socials__piece">
          <a
            class="socials__link"
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__piece">
          <a
            class="socials__link"
            href="https://web.telegram.org/k/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="socials__icon" width="20" height="15">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__piece">
          <a
            class="socials__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="socials__icon" width="10" height="20">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__contact-text page">
        Feel free to contact
        <a class="footer__contact-tel link" href="tel:610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="footer__bottom page">
    <p class="footer__copyright">&#169; 2021 - IceCream. All Rights Reserved.</p>
  </div>
</footer>

