<section id="gallery" class="gallery">
  <div class="container">
    <ul class="gallery__list list">
      <li class="gallery__item">
        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/1/gallery-1m-min.jpg   1x,
                ./images/gallery/1/gallery-1m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/1/gallery-1t-min.jpg   1x,
                ./images/gallery/1/gallery-1t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/1/gallery-1d-min.jpg   1x,
                ./images/gallery/1/gallery-1d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/1/gallery-1d-min.jpg" alt="мороженое в тарелке" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>
      </li>

      <li class="gallery__item">
        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/2/gallery-2m-min.jpg   1x,
                ./images/gallery/2/gallery-2m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/2/gallery-2t-min.jpg   1x,
                ./images/gallery/2/gallery-2t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/2/gallery-2d-min.jpg   1x,
                ./images/gallery/2/gallery-2d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/2/gallery-2d-min.jpg" alt="мороженое-рожок" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>

        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/3/gallery-3m-min.jpg   1x,
                ./images/gallery/3/gallery-3m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/3/gallery-3t-min.jpg   1x,
                ./images/gallery/3/gallery-3t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/3/gallery-3d-min.jpg   1x,
                ./images/gallery/3/gallery-3d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/3/gallery-3d-min.jpg" alt="мороженое на палочке" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>
      </li>

      <li class="gallery__item">
        <div class="gallery__card gallery__card_x2">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/4/gallery-4m-min.jpg   1x,
                ./images/gallery/4/gallery-4m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/4/gallery-4t-min.jpg   1x,
                ./images/gallery/4/gallery-4t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/4/gallery-4d-min.jpg   1x,
                ./images/gallery/4/gallery-4d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/4/gallery-4d-min.jpg" alt="мороженое-рожок" />
          </picture>
          <p class="gallery__card-logo">all you need is icecream</p>
        </div>

        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/5/gallery-5m-min.jpg   1x,
                ./images/gallery/5/gallery-5m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/5/gallery-5t-min.jpg   1x,
                ./images/gallery/5/gallery-5t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/5/gallery-5d-min.jpg   1x,
                ./images/gallery/5/gallery-5d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/5/gallery-5d-min.jpg" alt="девушка с мороженым" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>
      </li>

      <li class="gallery__item">
        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/6/gallery-6m-min.jpg   1x,
                ./images/gallery/6/gallery-6m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/6/gallery-6t-min.jpg   1x,
                ./images/gallery/6/gallery-6t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/6/gallery-6d-min.jpg   1x,
                ./images/gallery/6/gallery-6d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/6/gallery-6d-min.jpg" alt="мороженое в тарелочке" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>

        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/7/gallery-7m-min.jpg   1x,
                ./images/gallery/7/gallery-7m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/7/gallery-7t-min.jpg   1x,
                ./images/gallery/7/gallery-7t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/7/gallery-7d-min.jpg   1x,
                ./images/gallery/7/gallery-7d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/7/gallery-7d-min.jpg" alt="мороженое-рожок" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>
      </li>

      <li class="gallery__item up">
        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/8/gallery-8m-min.jpg   1x,
                ./images/gallery/8/gallery-8m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/8/gallery-8t-min.jpg   1x,
                ./images/gallery/8/gallery-8t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/8/gallery-8d-min.jpg   1x,
                ./images/gallery/8/gallery-8d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/8/gallery-8d-min.jpg" alt="щенок лижет мороженое" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>

        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/9/gallery-9m-min.jpg   1x,
                ./images/gallery/9/gallery-9m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/9/gallery-9t-min.jpg   1x,
                ./images/gallery/9/gallery-9t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/9/gallery-9d-min.jpg   1x,
                ./images/gallery/9/gallery-9d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/9/gallery-9d-min.jpg" alt="мороженое-рожок" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>
      </li>

      <li class="gallery__item">
        <div class="gallery__card">
          <picture class="gallery__img">
            <source
              srcset="
                ./images/gallery/10/gallery-10m-min.jpg   1x,
                ./images/gallery/10/gallery-10m@2-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/gallery/10/gallery-10t-min.jpg   1x,
                ./images/gallery/10/gallery-10t@2-min.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/gallery/10/gallery-10d-min.jpg   1x,
                ./images/gallery/10/gallery-10d@2-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img src="./images/gallery/10/gallery-10d-min.jpg" alt="мороженое в стакане" />
          </picture>
          <p class="gallery__card-logo">icecream</p>
        </div>
      </li>
    </ul>
  </div>
</section>
