<header class="header">
  <div class="container">
    <h2 class="visually-hidden">Header</h2>
    <div class="container-navigation">
     
       <nav class="header-navigation">
      <a href="" class="header-logo animate__animated animate__backInLeft">
        <img src="./images/header/icecream-logo.png" alt="logo" />
      </a>
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a class="navigation__link link current-page" href="./index.html">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#how-its-made">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
     <div class="sub-navigation">
    <button
      type="button"
      class="button-menu js-open-menu"
      aria-expanded="false"
      aria-controls="mob-menu">
      <svg width="35" height="35" aria-label="Переключатель мобильного меню">
        <use class="icon-menu" href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
 
    <button type="button" class="header-button">
      Buy now
      <svg class="mob-icon">
        <use href="./images/header/sprite-header.svg#icon-vector"></use>
      </svg>
    </button>
     </div> 
  </div>
  </div>
  <div class="mob-menu js-menu-container" id="mob-menu">
    <div class="mob-menu__content">
      <div class="button-position">
        <button type="button" class="button-mob-icon">
          Buy now
          <svg class="mob-icon">
            <use href="./images/header/sprite-header.svg#icon-vector"></use>
          </svg>
        </button>
      </div>

      <ul class="mob-menu-nav__list list">
        <li class="mob-menu-nav__item">
          <a class="mob-menu-nav__link link current-page" href="">Home</a>
        </li>
        <li class="mob-menu-nav__item">
          <a class="mob-menu-nav__link link" href="#how-its-made">About us</a>
        </li>
        <li class="mob-menu-nav__item">
          <a class="mob-menu-nav__link link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="mob-menu-nav__item">
          <a class="mob-menu-nav__link link" href="#products">Our products</a>
        </li>
        <li class="mob-menu-nav__item">
          <a class="mob-menu-nav__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </div>
    <button type="button" class="button-menu-close js-close-menu">
      <svg class="icon-cross" width="14" height="14" aria-label="Переключатель мобильного меню">
        <use href="./images/sprite.svg#about-cros"></use>
      </svg>
    </button>
  </div>
</header>
