<header class="header">
    <div class="conteiner">
        <div class="conteiner-logo">
            <nav class="header-navigation">
                <a href="" class="header-logo">
                    <img src="./images/header/icecream-logo.png" alt="logo">
                </a>
            </nav>
            <button class="menu-open-btm"><span></span></button>
        </div>
    <div class="backdrop is-hidden">
        <button class="menu-close-btm">
            <svg class="menu-close-btm-icon">
                <use href="./images/header/sprite-header.svg#icon-close-but"></use>
            </svg>

        <button class="button-mob-icon">Buy now
            <svg class="mob-icon">
                <use href="./images/header/sprite-header.svg#icon-button-icon"></use>
            </svg>
        </button>
    
        <div class="header-mob-inform">
        <ul class="header-mob-list">
            <li class="header-mob-item">Home</li>
            <li class="header-mob-item">About us</li>
            <li class="header-mob-item">How it’s made?</li>
            <li class="header-mob-item">Our products</li>
            <li class="header-mob-item">Contact</li>
        </ul>
    </div> 
    </div>
</header>

