<section class="hero" id="hero">
  <div class="container hero">
    <div class="hero-text-thumb">
      <h1 class="hero-text">
        ice cream<br />made with<br /><span class="hero-title">passion</span>
      </h1>
      <ul class="hero-btn-list list">
        <li class="hero-btn-item">
          <a href="#products" class="hero-btn-link link">Products</a>
        </li>
        <li class="hero-btn-item">
          <a href="#how-its-made" class="hero-btn-link link">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="hero-img-composition">
      <picture class="hero-image">
        <source
          media="(min-width: 1200px)"
          srcset="images/hero/hero-ice-cream.png 1x, images/hero/hero-1d@2-min.png 2x"
        />
        <img
          class="hero-img"
          src="images/hero/hero-ice-cream.png"
          alt="ice-cream"
          width="171"
          height="410"
        />
      </picture>
    </div>
    <span class="hero-circle"></span>
  </div>
</section>
