<section class="hero" id="hero">
  <div class="container hero">
    <div class="hero-text-thumb">
      <h1 class="hero-text animate__animated animate__backInLeft">
        ice cream<br />made with<br /><span class="hero-title">passion</span>
      </h1>
      <ul class="hero-btn-list list">
        <li class="hero-btn-item-one">
          <a href="#products" class="hero-btn-link link">Products</a>
        </li>
        <li class="hero-btn-item-two">
          <a href="#how-its-made" class="hero-btn-link link">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="milk-capasity">
      <picture class="hero-image">
        <source
          media="(min-width: 1280px)"
          srcset="/images/hero/hero-2d-min.png 1x, /images/hero/hero-2d@2-min.png 2x"
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="images/hero/hero-2t-min.png 1x, images/hero/hero-2t@2-min.png 2x"
          type="image/png"
        />
        <img src="images/hero/hero-2t-min.png" alt="milkpot" width="124" height="126" />
      </picture>
    </div>
    <div class="hero-milk-text">
      <p class="milk-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="hero-button">
        <svg class="hero-button-arrow" width="18" height="18">
          <use href="images/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
    <div class="hero-img-composition">
      <div class="hero-img-composition__circle"></div>
      <img class="partone" src="images/hero/part1.png" alt="ice-cream" />
      <img class="parttwo" src="images/hero/part2.png" alt="ice-cream" />
      <img class="partthree" src="images/hero/part3.png" alt="ice-cream" />
      <img class="partfour" src="images/hero/part4.png" alt="ice-cream" />
      <img class="partfive" src="images/hero/part5.png" alt="ice-cream" />
      <img class="hero-img partsix" src="images/hero/part6.png" alt="ice-cream" />
    </div>
    <div class="hero-img-composition_two">
      <picture class="hero-image">
        <source
          media="(min-width: 768px)"
          srcset="images/hero/hero-1t-min.png 1x, images/hero/hero-1t@2-min.png 2x"
          type="image/png"
        />
        <source
          media="(min-width: 480px)"
          srcset="images/hero/hero-1m-min.png 1x, images/hero/hero-1m@2-min.png 2x"
        />
        <img
          class="hero-img-two"
          src="images/hero/hero-ice-cream.png"
          alt="ice-cream"
          width="171"
          height="410"
        />
      </picture>
    </div>
    <span class="hero-circle"></span>
    <div class="hero-lady">
      <picture class="hero-image">
        <source
          media="(min-width: 1280px)"
          srcset="images/hero/hero-3d-min.png 1x, images/hero/hero-3d@2-min.png 2x"
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="images/hero/hero-3t-min.png 1x, images/hero/hero-3t@2-min.png 2x"
          type="image/png"
        />
        <img src="images/hero/hero-3t-min.png" alt="milkpot" width="168" height="133" />
      </picture>
    </div>
    <div class="hero-numbers">
      <ul class="hero-numbers-list list">
        <li class="hero-numbers-item">16<br /><span class="hero-numbers-item-text">cafes</span></li>
        <li class="hero-numbers-item">
          23<br /><span class="hero-numbers-item-text">food trucks</span>
        </li>
      </ul>
    </div>
    <div class="circles-thumb">
      <span class="hero-numbers-circle"></span>
      <span class="hero-numbers-circle-t"></span>
    </div>
  </div>
</section>
