<section id="products" class="products">
  <div class="container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item products-list__item--icecream list">
        <h3 class="products-list__title">ice cream</h3>
        <p class="products-list__text">
          We just add strawberries, whole and pureed, and we never add any colour. The ultimate taste of summertime.
        </p>
        <a href="#hero" class="products-list__link">
          <svg class="products-list__icon" width="15" height="15">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </a>          
        <div class="products-list__overlay products-list__overlay--icecream">
          <h3 class="products-list__title">Strawberries and Cream</h3>
          <p class="products-list__text">
            There’s only one way to make the best strawberry ice cream. Start with the best freshly picked strawberries.
          </p>
        </div>
      </li>
      <li class="products-list__item products-list__item--icecoffee list">
        <h3 class="products-list__title">ice coffee</h3>
        <p class="products-list__text">
          Our own organic milk, cold coffee, local double cream and Madagascan vanilla – that’s it!
          Perfect and always our best seller.
        </p>
        <a href="#hero" class="products-list__link">
          <svg class="products-list__icon" width="15" height="15">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </a>
        <div class="products-list__overlay products-list__overlay--icecoffee">
          <h3 class="products-list__title">Milk Shake</h3>
          <p class="products-list__text">            
            Vanilla bean ice cream, cold-brew coffee blended with milk and topped with whipped cream. We dare say: it
            doesn't get any better than this!      
          </p>
        </div>
      </li>
      <li class="products-list__item products-list__item--milkshakes list">
        <h3 class="products-list__title">milkshakes</h3>
        <p class="products-list__text">
          Dark and rich, but not too sweet. High quality cocoa powder and chocolate – simple.
          Sprinkle with some toasted almonds.
        </p>
        <a href="#hero" class="products-list__link">
          <svg class="products-list__icon" width="15" height="15">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </a>
        <div class="products-list__overlay products-list__overlay--milkshakes">
          <h3 class="products-list__title">Double Chocolate</h3>
          <p class="products-list__text">           
            Ice cream blended with milk, decorated with chocolate sauce, and topped with whipped cream. We decorate it with your
            choice of sauce!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
