<section class="windows-mobile">
    <div class="container">
        
            <button class="windows-mobile__button" type="submit">Our Locations
                <svg class="windows-mobile__svg">
                    <use href="./images/sprite.svg#vector "></use>
                </svg>
            </button>
            <button class="windows-mobile__button--white" type="submit">Franchise
               <svg class="windows-mobile__svg">
                   <use href="./images/sprite.svg#vector "></use>
               </svg>
           </button>
      
    </div>
</section>