<section class="section-mobile">
    <div class="container windows-mobile">
        <div class="windows-mobile">
            <button class="windows-mobile__button" type="button">Our Locations
                <svg class="windows-mobile__svg">
                    <use href="./images/sprite.svg#vector" ></use>
                </svg>
            </button>
            <button  class="windows-mobile__button--white" type="button">Franchise
                <svg class="windows-mobile__svg--white">
                    <use href="./images/sprite.svg#vector-pink"></use>
                </svg>
            </button>
        </div>
            <div class="modal-maps is-hidden">
                <button modal-maps__close class="modal__button">
                    <svg class="modal__picture">
                        <use class="modal__icon" href="./images/sprite.svg#close-black">
                        </use>
                    </svg>
                 </button>
<div class="modal-map">
    <div class="modal-map-inform">
        <p class="modal-map-text">
            We are a young, but very promising company. Our ice cream is made from natural premium cow's milk. Which is selected very carefully by our qualified specialists.
        </p>
        <p class="modal-map-text2">
            If you want to enjoy the taste of real "divine" ice cream. Or, perhaps, try a cooling and tonic milk cocktail.
            Or warm up with a cup of our signature "Ice coffe".
            Then come to one of our establishments or just press the "Buy now" button and we will deliver you our "Cold Fatasia" ourselves.
        </p>
        
        <!-- <div id="map" style="width: 400px;height:400px;"></div>

        <script>
        function myMap() {
          var mapCanvas = document.getElementById("map");
          var mapOptions = {
            center: new google.maps.LatLng(51.5, -0.2), zoom: 10
          };
          var map = new google.maps.Map(mapCanvas, mapOptions);
        }
        </script>
    </div> -->
</div>
<p class="checkbox-logo">Choose your country</p>
<div class="checkbox-blok">
    <div class="checkbox-map1">
    <input type="checkbox" id="checkbox-map">
    <label for="checkbox-map" class="checkbox-map-text">Chicago</label>
    <span>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.7160348982!2d-88.01215117490752!3d41.8333924967306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1637239142287!5m2!1sru!2sua" width="320" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </span>
</div>
<!-- <img src="./images/map-img/London.jpg" alt="" class="checkbox-img"> -->
<div class="checkbox-map1">
<input type="checkbox" id="checkbox-map2">
<label for="checkbox-map2" class="checkbox-map-text">Los Angeles</label>
<span>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.274100292!2d-118.6919242404781!3d34.020161297993184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1637239243894!5m2!1sru!2sua" width="320" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</span>
</div>
<!-- <img src="./images/map-img/dartford.jpg" alt="" class="checkbox-img"> -->
<div class="checkbox-map1">
<input type="checkbox" id="checkbox-map3">
<label for="checkbox-map3" class="checkbox-map-text">New York</label>
<span>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3059837014!2d-74.2598689269658!3d40.69714941099881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1637239274261!5m2!1sru!2sua" width="320" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</span>
</div>
<!-- <img src="./images/map-img/Birmingham.jpg" alt="" class="checkbox-img"> -->
<!-- <input type="checkbox" id="checkbox-map">
<label for="checkbox-map" class="checkbox-map-text">Cambridge <a href=""><map name="">Site</map></a></label>
<img src="./images/map-img/Cambridge.jpg" alt="" class="checkbox-img">
<input type="checkbox" id="checkbox-map">
<label for="checkbox-map" class="checkbox-map-text">Margate <a href=""><map name="">Site</map></a></label>
<img src="./images/map-img/Margate.jpg" alt="" class="checkbox-img"> -->
</div>
                <!-- <div class="modal-maps__map">
                    <div><p class="modal-maps__text">The first prototype of the frosty buv inventions in China. Truly unbelievable,
                         there are thousands of rocks on the rakhovu frost history: 4 or 5 thousand. Emperor Tang, having ruled at that hour, 
                         shitty transferring the cake. Vin having ordered his servants to come up with a strain, as it would cool down in the heat of the day.
                          Todi confectioners proponated a novelty to the ruler: licorice narizan fruits (lichi, tangerine, yangmey) zmishany with a snazy snig. 
                          This dessert will become a favorite of the emperor's gourmand and hundreds of rocks are kept in secret. 
                          Forward the recipe for fruit ice buv guesses in the Chinese book "Shih-ching". 
                          Vvazhaєtsya, scho koriguvav the book is not hto іnshiy, like Confucius himself.</p>
                        <p class="modal-maps__requested">And you can buy it with us for the address:</p></div>
                   <span class="modal-maps__location"> 

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.4733956696!2d-0.24168015785324748!3d51.528558242897844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z0JvQvtC90LTQvtC9LCDQktC10LvQuNC60L7QsdGA0LjRgtCw0L3RltGP!5e0!3m2!1suk!2sua!4v1637001715177!5m2!1suk!2sua"  style="border:0;" allowfullscreen="" loading="lazy"></iframe></span>
                </div>
            </div> -->
           
           <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <button data-modal-close class="modal__button">
                    <svg class="modal__picture">
                        <use class="modal__icon" href="./images/sprite.svg#close-black">
                        </use>
                    </svg>
                 </button>
        <form class="modal__form" name="signup_form" autocomplete="on" novalidate>
            <h2 class="modal__title--title">Become a stockist of our delicious ice cream</h2>
            <p class="modal__title" >Leave your details, we will call you back</p>
                    <div class="modal__list">
                <label class="modal__label" for="name">
            Name </label> 
            <span class="modal__wrapper">
            <input class="modal__input" type="text" name="name" id="name"  />
            <svg class="modal__svg" style="width: 18px; height: 18px; "><use class="modal__noname" href="./images/sprite.svg#person-black" ></use></svg> 
            </span>
            </div>
            <div class="modal__list">
                <label class="modal__label" for="phone">
            Phone </label>
            <span class="modal__wrapper">
            <input class="modal__input" type="tel" name="tel" id="phone" />
            <svg class="modal__svg" style="width: 18px; height: 18px; "><use class="modal__noname"  href="./images/sprite.svg#phone-black" ></use></svg>
            </span> 
            </div>
                <div class="modal__list">
                <label class="modal__label" for="email">
            Mail </label>
            <span class="modal__wrapper">
            <input class="modal__input" type="email" name="email" id="email" /> 
            <svg class="modal__svg" style="width: 18px; height: 18px; "><use class="modal__noname"  href="./images/sprite.svg#email-black" ></use></svg>
            </span> 
            </div>
                <div class="modal__list">
                <label class="modal__label" for="coment">
            You comment </label>
            <span class="modal__wrapper"> 
            <textarea class="modal__textarea" name="comment" id="coment"  placeholder="Введите текст" ></textarea></span> 
            <input  type="checkbox" name="contract" value="contract" id="check" class="modal__checkbox"  required />
            <label for="check" class="modal__check">
            <span>
                <svg class="modal__noname" style="width: 11px; height: 8px; ">
                    <use class=""  href="./images/sprite.svg#check" >
                    </use>
                </svg>
            </span>
            I agree with the mailing and accept 
            <a href="">  "Terms of the contract" </a> </label>
                <button class="modal__send" type="submit">Send</button></div>
        </form>
        </div></div></div>
   
</section>
