.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 34px;
    padding-right: 34px;
  }
 
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 115px;
    padding-right: 115px;
  }
}
